config/
bin/*.sh
logs/
data/downloads/
data/uploads/
*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
.project/
.DS_Store
*.swp
screenshots/*.png
